@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";



.custome_color_for_login{
    background-color: #121212;
}
.create-color{
    background-color:#4F46E5;
}
.bg-color{
    background-color: #F3F4F9;
}